.wrapper {
    padding: 2rem;
    border-radius: var(--moodmap-ui-border-radius);
    text-align: center;
}

.wrapper h1 {
    color: #d6d6d6;
    margin: 1rem 0;
    font-size: 2.5rem;
}

.wrapper p {
    color: #FFF;
    max-width: 45ch;
    margin: 2rem auto;
}